    <header> 
            <nav class="main_nav">
            <ul id="left">
                <li id="naam"><%=link_to 'Diqital', root_path %></li>
            </ul>
            <ul id="dienst_ul">
                <li class="list_red1"><a class="list_red dienst_dienst1" href=#wrapper_business_trans>Digital Transformatie</a></li> 
                <li class="list_red2"><a class="list_red dienst_dienst2" href=#wrapper_customer_exp>Klant Ervaring</a></li> 
                <li class="list_red3"><a class="list_red dienst_dienst3" href=#wrapper_gevonden_worden>Marketing</a></li> 
            </ul>
            <ul id="right">
                <li id="contact"><%= link_to "Contact", :anchor => "wrapper_contact" %></li>
            </ul>
            </nav>    
    </header>


