<div class="wrapper wrapper_header35" id="wrapper_header">
        <div id="background_container">

        </div>
        <div class="overlay_black"></div>

        <div class="subheader_container_services">
            <h2 class="h2_services">Digitale Transformatie</h2>
            <p id="titel_tekst_services">Wij helpen bedrijven hun business modellen moderniseren, de ervaring voor hun klanten te verbeteren en hun online marketing efficienter te maken</p>
        </div>
    </div>

    <div class="wrapper wrapper_type1_50">
        <article class="article_diensten_page place_middle" id="defining_digital">
            <div class="container">
            <section class="section_diensten_page defining_digital_section">
                <h4 class="part_of_section">Digital</h4>
                <p class="defining_digital_paragraph part_of_section tekst text_shade">Digitale Transformatie betekent voor elk bedrijf iets anders. Traditionele bedrijven bevinden zich in industrien, waar men veronderstelt dat er snel geschakeld wordt. In de praktijk zijn er in elke industrie voorbeelden van bedrijven aan te wijzen die sinds het digitale tijdperk naar de top zijn gerezen. Wij helpen onze klanten digitale leiders worden. De digitale strategie is door de opkomst van het internet en Social Media drastisch veranderd. Wij helpen u een eigen strategie ontwikkelen om in het nieuwe vaarwater te manoevreren.</p>
            </section>
            <br><br>

            <section class="defining_digital_section">
                <h4 class="part_of_section">Digitale transformatie</h4>
                <p class="defining_digital_paragraph part_of_section tekst text_shade">De communicatie tussen bedrijf en klant is tegenwoordig volledig anders. Er is geen moment dat je niet in contact staat of kunt staan met uw klanten. Wij helpen u een master storyteller te worden om uw klanten aan te trekken. Het bereik dat je hebt is oneindig groot. De mogelijkheid om jouw message naar buiten toe uit te dragen is er altijd. Wij helpen onze klanten een eigen identiteit te ontwikkelen.</p>
            </section>
            <br><br>

            <section class="defining_digital_section">
                <h4 class="part_of_section">Uw Digitale Partner</h4>
                <p class="defining_digital_paragraph part_of_section tekst text_shade">Aan het eind van de dag draait het allemaal om verkopen. Wij begrijpen dat, en dat er ook een moment komt om de trigger over te halen en tot de verkoop over te gaan. Wij helpen onze klanten succesvolle internet campagnes op te zetten op een strategische wijze.</p>
            </section>
            </div>
        </article>
        <div class="overlay_white">
        </div> 
        
    </div>


	
<div class="wrapper wrapper_type2_50" id="wrapper_business_trans" >
        <div class="overlay_black">
        </div>    
        
        <article class="place_middle article_diensten_page donker" >

        	<section class="section_diensten_page">
                <div class="container">
                
                    <h3 class="h3_diensten white">Digitale Transformatie</h3>
                    <h5 class="white">Verbeter je business model voor het digitale tijdperk</h5>
                    <p class="tekst text_white">Digitale Transformatie betekent voor elk bedrijf iets anders. Traditionele bedrijven bevinden zich in industrien, waar men veronderstelt dat er snel geschakeld wordt. In de praktijk zijn er in elke industrie voorbeelden van bedrijven aan te wijzen die sinds het digitale tijdperk naar de top zijn gerezen. Wij helpen onze klanten digitale leiders worden. De digitale strategie is door de opkomst van het internet en Social Media drastisch veranderd. Wij helpen u een eigen strategie ontwikkelen om in het nieuwe vaarwater te manoevreren.</p>

                    <br><br>

                    <ul class="not_inline dienst1">
                        <li class="not_inline">
                            <h6 class="white">Digital Strategy</h6>
                            <p class="tekst text_white">De traditionele manier van internet verkopen werkt niet meer. Men wordt tegenwoordig gebombardeerd met advertenties, informatie en aanvragen. Hoe dring je dan tot je doelgroep door? Hoe toon je een honest signal? Dat doe je door een succesvolle strategie op te stellen. Door jouw kanelen op de juiste manier de juiste waarden te laten conveyen.</p>
                        </li>
                        <br><br><br>
                        <li class="not_inline">
                            <h6 class="white">Social Media Content</h6>
                            <p class="tekst text_white">De waarde van Social Media is al lang en breed over gepraat. Maar waarom is niet ieder bedrijf met een facebook account nu een leider in zijn industrie? Er is een juiste manier om dit uit te voeren. Wij helpen u de uitgeteste manier van content creeren die ook daadwerkelijk geconsumeerd gaat worden.</p>
                        </li>
                    </ul>

                    <aside class="illustratie_dienst dienst1">
                        <figure class="aside_illustratie">
						<%= image_tag('as1.png', class: "full_size")%>   </figure>

                    </aside>
                </div>
            </section>


        </article>
    </div>

    <div class="wrapper wrapper_type2_50" id="wrapper_customer_exp">
        <div class="overlay_white">
        </div>    
        
        <article class="place_middle article_diensten_page">


            <section class="section_diensten_page"> 
                <div class="container">
                
                    <h3 class="h3_diensten">Klant Ervaring</h3>
                    <h5>Herontvindt het klantcontact voor de digitale consument</h5>
                    <p class="tekst text_shade">De communicatie tussen bedrijf en klant is tegenwoordig volledig anders. Er is geen moment dat je niet in contact staat of kunt staan met uw klanten. Wij helpen u een master storyteller te worden om uw klanten aan te trekken. Het bereik dat je hebt is oneindig groot. De mogelijkheid om jouw message naar buiten toe uit te dragen is er altijd. Wij helpen onze klanten een eigen identiteit te ontwikkelen.</p>

                    <br><br>
                    
                    <ul class="not_inline dienst1">
                        <li class="not_inline">
                            <h6>Branding</h6>
                            <p class="tekst text_shade">Uw bedrijf heeft een identiteit. Wij helpen u die identiteit en uw bedrijfswaarden op de juiste manier naar buiten toe tonen. Wij helpen u een master storyteller te worden met hardcore fans en passie voor dezelfde mission. Wij helpen nu werken aan uw reputatie. Een goede reputatie is voor altijd.</p>
                        </li>
                        <br><br><br>
                        <li class="not_inline">
                            <h6>Customer Relationship Management</h6>
                            <p class="tekst text_shade">Het digitale tijdperk maakt het scalable een persoonlijke relatie op te bouwen met al uw klanten. Deze relatie is de basis waarop u voort kunt bouwen. </p>
                        </li>
                    </ul>

                    <aside class="illustratie_dienst dienst1">
                        <figure class="aside_illustratie">
						<%= image_tag('as2.png', class: "full_size")%>   </figure>
                        </figure>

                    </aside>
                </div>
            </section>
        </article>
    </div>




        <div class="wrapper wrapper_type2_50" id="wrapper_gevonden_worden">
        <div class="overlay_black">
        </div>    
        
        <article class="place_middle article_diensten_page donker" >


            <section class="section_diensten_page">
                    <div class="container">
                
                    <h3 class="h3_diensten white">Online Marketing</h3>
                    <h5 class="white">Leer marketen anno 2016</h5>
                    <p class="tekst text_white">Aan het eind van de dag draait het allemaal om verkopen. Wij begrijpen dat, en dat er ook een moment komt om de trigger over te halen en tot de verkoop over te gaan. Wij helpen onze klanten succesvolle internet campagnes op te zetten op een strategische wijze.
                    </p>

                    <br><br>
                    
                    <ul class="not_inline dienst1">
                        <li class="not_inline">
                            <h6 class="white">Social Media Advertenties</h6>
                            <p class="tekst text_white">Social Media stelt je in staat extreem doelgericht te marketen. Voor het eerst sinds de invoering van google adwords, is er een medium dat eenzelfde ROI geeft. MITS het op de juiste manier gedaan wordt. Wij helpen u succesvolle campagnes op te zetten.</p>
                        </li>
                        <br><br><br>
                        <li class="not_inline">
                            <h6 class="white">SEO</h6>
                            <p class="tekst text_white">Klassieke SEO verliest z'n kracht, door de steeds slimmer wordende algoritme's van onder andere google. De nieuwe algoritme's denken steeds creatiever. Als marketeer moeten wij dus mee.</p>
                        </li>
                    </ul>

                    <aside class="illustratie_dienst dienst1">
                        <figure class="aside_illustratie">
						<%= image_tag('as3.png', class: "full_size")%>   </figure>
                        </figure>

                    </aside>
                </div>
            </section>
        </article>
    </div>