    <div class="wrapper wrapper_header35" id="wrapper_header">
        <div id="background_container"></div>
        <div class="overlay_black"></div>

        <div class="subheader_container">
            <h2>Wordt wijzer</h2><br>
            <p id="titel_tekst">Dit is even een bullshit stukje omdat ik moet zien hoe het eruit ziet als ik klaar ben zodat ik alvast kan zien<br> </p>
            <div class="box white_box"><a class="pijl" href="#"> > </a><a class="link_tekst" href=#> Leer meer</a></div>
        </div>
    </div>


<div class="wrapper wrapper_type2_45">
        <article class="article_show_article">  
            <div class="container">
                <p>Dit is een teksts</p> 
            </div>           
        </article>
        <div class="overlay_white">
        </div>  
    </div>