        <div class="wrapper_type2 wrapper_type2_45">
        <article class="article_show_article align_mid">  
      <div class="place_middle">
    <%= render 'form' %>

</div>
                       
        </article>
        <div class="overlay_white">
        </div>  
</div>


