	<div class="wrapper wrapper_header35" id="wrapper_header">
        <div id="background_container"></div>
        <div class="overlay_black"></div>

        <div class="subheader_container">
            <h2>Wordt wijzer</h2><br>
            <p id="titel_tekst">Dit is even een bullshit stukje omdat ik moet zien hoe het eruit ziet als ik klaar ben zodat ik alvast kan zien<br> </p>
            <div class="box white_box"><a class="pijl" href="#"> > </a><a class="link_tekst" href=#> Leer meer</a></div>
        </div>
    </div>

    <div class="wrapper wrapper_type2_45">
        <article class="article_over_ons_page">  
            <div class="container" id="over_ons_container">
                <h3>Onze Missie</h3><br>
                    <p class="tekst">
                        Ons werk bestaat uit kennis verspreiden over online business. Op onze pagina met <a href="#">artikelen</a> publiceren wij adviezen over branding, social media en onze andere specialiteiten. Stel gerust een vraag op Facebook, Instagram, twitter of per mail. Wij helpen u binnen een dag verder.<br><br>

                        Wij nemen regelmatig start-ups als pro-bono klant aan als wij in hun visie geloven. Op onze pagina met <a href="#">verhalen</a> kun je hier voorbeelden van vinden. Niet zeker of wij iets voor jou kunnen betekenen? Vraag een gratis eerste consult aan.
                    </p>
                    <br><br>
            <div class="box black_box"><a class="pijl" href="#"> > </a><a class="link_tekst link_black" href=#>Ons Werk</a></div>

            </div>
        </article>
        <div class="overlay_white">
        </div>  
    </div>
